   <%- include('../components/header') -%>
    <div class="container" style="font-family: 'Montserrat', sans-serif;padding-bottom: 50px; ">
       
     <h1 class="mb-1" style="margin-top: 120px;"> <%= article.title %></h1>
     <div class="text-muted mb-2"> <%= article.date.toLocaleDateString() %>  </div>
     <div style="margin-top: 10px; margin-bottom: 40px; ">
     <a href="/articles"  class="btn btn-secondary" ">All Articles</a>
     <a href="/articles/edit/<%= article.id %>"  class="btn btn-info" ">edit</a>
     </div>
     <img src= "<%= article.imageURL %>" class="card-img" alt="..." style=" display: block;
     margin-left: auto;
     margin-right: auto;
     width: 50%; object-fit: fill ; margin-bottom: 20px;">
      <div><%- article.sanitizedhtml %></div>


    </div>
    

  </body>
</html>